@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat:400,600|Noto+Serif+KR:400,600');
.articleContainer {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.articleItemHome {
  font-size: 18px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  font-weight: 600;
  padding: 40px;
  width: 32%;
}

.articleTitle {
  text-decoration: none;
  color: black;
}

.articleTitle:hover {
  color: #2347b2;
}

.articleTag {
  color: lightgray;
  padding-top: 10px;
  font-size: 10px;
  letter-spacing: 1px;
}

.imgBox {
  text-align: center;
}

.imgBox img {
  width: 75%;
  border: 2px solid gray;
  padding: 5px;
}

@media only screen and (max-width: 720px) {
  .articleItemHome {
    padding: 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 540px) {
  .articleContainer {
    flex-direction: column;
    width: 100%;
  }
  .articleItemHome {
    padding: 10px 20px;
    width: 100%;
  }
  .articleTag {
    padding: 0;
  }
}